# 안녕하세요, 에이블러 여러분!
## AIVLE스쿨 1차 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "버스 정류장 데이터" 를 확인해 보도록 하겠습니다

In [42]:
# 필요 라이브러리부터 설치합니다.
# %pip install pandas seaborn

## 기본전제
* 제공되는 기본/추가 데이터는 '에이블러용' 폴더에 있습니다.

[기본 데이터]
* 1.1 bus_station_boarding_month_202401.csv

* 서울시 버스노선별 정류장별 승하차 인원 정보
* https://data.seoul.go.kr/dataList/OA-12912/S/1/datasetView.do


[추가 데이터]
* 1.1 bus_station_202401.xlsx

* 서울시 버스정류장 위치정보
* https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터입니다.

###  데이터 프레임을 불러오고 변수로 저장(CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 sklearn 라이브러리를 통해 모델을 학습시키고 저장할 때 많이 사용, 파이썬의 모든 객체를 파일로 저장할 수 있다.

#### [실습문제1] 데이터 로딩
* Pandas 라이브러리를 활용해서 '1.1 bus_station_boarding_month_202401.csv'파일을 'bus_station' 변수에 저장하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * cp949 인코더를 사용해 주세요

In [43]:
# 아래 실습코드를 실행해주세요.

import sys
import numpy as np
import pandas as pd

In [44]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

bus_station = pd.read_csv('1.1 bus_station_boarding_month_202401.csv', sep=',', encoding = "cp949")

In [45]:
# 데이터 프레임의 Shape을 확인합니다.

bus_station.shape

(1048575, 8)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'bus_station' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보세요.

In [46]:
# head()
bus_station.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20240101,101,101번(화계사~동대문),6178,대광고등학교앞(00055),39,76,20240104
1,20240101,9408,9408번(구미동차고지~고속터미널),22337,헌인마을.서울농업기술센터(00042),1,0,20240104
2,20240101,9408,9408번(구미동차고지~고속터미널),22336,헌인마을.서울농업기술센터(00078),2,0,20240104
3,20240101,9408,9408번(구미동차고지~고속터미널),22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104
4,20240101,9408,9408번(구미동차고지~고속터미널),22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104

In [47]:
# tail()
bus_station.tail()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
1048570,20240126,종로05,종로05(서대문역~배화여중고),1837,스위스대사관(00025),1,19,20240129
1048571,20240126,종로05,종로05(서대문역~배화여중고),1831,월암공원(00024),25,21,20240129
1048572,20240126,종로05,종로05(서대문역~배화여중고),1514,적십자병원후문앞(00002),9,6,20240129
1048573,20240126,성북07,성북07(정릉4동종점~길음역),8454,정릉4동종점(00014),0,181,20240129
1048574,20240126,종로05,종로05(서대문역~배화여중고),1587,신학대학교총회본부(00011),13,68,20240129

In [48]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# info()
bus_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1048575 non-null  int64
 1   노선번호        1048575 non-null  object
 2   노선명         1048575 non-null  object
 3   버스정류장ARS번호  1048575 non-null  object
 4   역명          1048575 non-null  object
 5   승차총승객수      1048575 non-null  int64
 6   하차총승객수      1048575 non-null  int64
 7   등록일자        1048575 non-null  int64
dtypes: int64(4), object(4)
memory usage: 64.0+ MB

In [49]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# describe()

bus_station.describe()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   2.024011e+07  1.030953e+02  1.010178e+02  2.024012e+07
std    7.455044e+00  1.486801e+02  1.348374e+02  7.455044e+00
min    2.024010e+07  0.000000e+00  0.000000e+00  2.024010e+07
25%    2.024011e+07  1.300000e+01  1.600000e+01  2.024011e+07
50%    2.024011e+07  5.700000e+01  6.200000e+01  2.024012e+07
75%    2.024012e+07  1.370000e+02  1.370000e+02  2.024012e+07
max    2.024013e+07  5.027000e+03  4.352000e+03  2.024013e+07

#### [실습문제3] 위 데이터에서 버스정류장 위치를 구 별로 구분 해보기

* 'bus_station' 데이터의 정보를 확인해보세요.

* 버스정류장 ARS번호의 앞 두자리가 구를 의미합니다.

* '자치구' column을 추가 -> 정류장이 위치한 구 이름을 등록

In [50]:
# "버스정류장ARS번호" 컬럼 확인하기

bus_station['버스정류장ARS번호']

0           6178
1          22337
2          22336
3          22334
4          22333
           ...
1048570     1837
1048571     1831
1048572     1514
1048573     8454
1048574     1587
Name: 버스정류장ARS번호, Length: 1048575, dtype: object

* 버스정류장 ARS 번호 : 01~25까지 앞 숫자 두개가 위치한 구를 의미
    01. 종로구
    02. 중구
    03. 용산구
    04. 성동구
    05. 광진구
    06. 동대문구
    07. 중랑구
    08. 성북구
    09. 강북구
    10. 도봉구
    11. 노원구
    12. 은평구
    13. 서대문구
    14. 마포구
    15. 양천구
    16. 강서구
    17. 구로구
    18. 금천구
    19. 영등포구
    20. 동작구
    21. 관악구
    22. 서초구
    23. 강남구
    24. 송파구
    25. 강동구

+) 1~9까지 앞에 0 붙여줘야 함

※ CSV 파일 특성으로 첫자리 "0"이 표현이 안 됨. 정류소 코드 (ARS-ID) 는 5자리이고, (예시) "10123" - 정상, "1234" 4자리인 경우 앞자리에 "0"을 첨부하여 01234로 변환하여 사용해야 함

버스정류장ARS번호가 0인 데이터도 제외할 것

In [51]:
bus_station['버스정류장ARS번호'] = bus_station['버스정류장ARS번호'].apply(lambda x: '0' + x if len(x) == 4 else x)

In [52]:
bus_station = bus_station.loc[bus_station['버스정류장ARS번호']!='0']
bus_station.reset_index(drop=True, inplace=True)

In [53]:
bus_station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20240101,101,101번(화계사~동대문),06178,대광고등학교앞(00055),39,76,20240104
1,20240101,9408,9408번(구미동차고지~고속터미널),22337,헌인마을.서울농업기술센터(00042),1,0,20240104
2,20240101,9408,9408번(구미동차고지~고속터미널),22336,헌인마을.서울농업기술센터(00078),2,0,20240104
3,20240101,9408,9408번(구미동차고지~고속터미널),22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104
4,20240101,9408,9408번(구미동차고지~고속터미널),22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104
...,...,...,...,...,...,...,...,...
1048502,20240126,종로05,종로05(서대문역~배화여중고),01837,스위스대사관(00025),1,19,20240129
1048503,20240126,종로05,종로05(서대문역~배화여중고),01831,월암공원(00024),25,21,20240129
1048504,20240126,종로05,종로05(서대문역~배화여중고),01514,적십자병원후문앞(00002),9,6,20240129
1048505,20240126,성북07,성북07(정릉4동종점~길음역),08454,정릉4동종점(00014),0,181,20240129
1048506,20240126,종로05,종로05(서대문역~배화여중고),01587,신학대학교총회본부(00011),13,68,20240129

In [54]:
# 버스정류장 ARS번호에서 시작하는 앞자리 2개로 '자치구'라는 새로운 컬럼 생성
# str() : 정수나 실수를 문자열 형태로 바꿔주는 함수, slice()

s = slice(0, 2)
bus_station['자치구'] = bus_station['버스정류장ARS번호'].str[s]
# bus_station['자치구'] = bus_station['버스정류장ARS번호'].str[:2]도 가능!

bus_station
# 'object' 타입으로 된 열에는 문자열을 다루는 메소드와 속성을 직접적으로 적용할 수 없음 -> .str을 이용해 문자열 형태로 바꿔줘야 함

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20240101,101,101번(화계사~동대문),06178,대광고등학교앞(00055),39,76,20240104,06
1,20240101,9408,9408번(구미동차고지~고속터미널),22337,헌인마을.서울농업기술센터(00042),1,0,20240104,22
2,20240101,9408,9408번(구미동차고지~고속터미널),22336,헌인마을.서울농업기술센터(00078),2,0,20240104,22
3,20240101,9408,9408번(구미동차고지~고속터미널),22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104,22
4,20240101,9408,9408번(구미동차고지~고속터미널),22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104,22
...,...,...,...,...,...,...,...,...,...
1048502,20240126,종로05,종로05(서대문역~배화여중고),01837,스위스대사관(00025),1,19,20240129,01
1048503,20240126,종로05,종로05(서대문역~배화여중고),01831,월암공원(00024),25,21,20240129,01
1048504,20240126,종로05,종로05(서대문역~배화여중고),01514,적십자병원후문앞(00002),9,6,20240129,01
1048505,20240126,성북07,성북07(정릉4동종점~길음역),08454,정릉4동종점(00014),0,181,20240129,08
1048506,20240126,종로05,종로05(서대문역~배화여중고),01587,신학대학교총회본부(00011),13,68,20240129,01

In [55]:
# 구 코드를 구 이름으로 변환하기
# map() : 리스트, 튜플 등 반복 가능한 데이터 집합을 입력으로 받아 변환하는 함수

bus_station['자치구'] = bus_station['자치구'].map({
    '01': '종로구',
    '02': '중구',
    '03': '용산구',
    '04': '성동구',
    '05': '광진구',
    '06': '동대문구',
    '07': '중랑구',
    '08': '성북구',
    '09': '강북구',
    '10': '도봉구',
    '11': '노원구',
    '12': '은평구',
    '13': '서대문구',
    '14': '마포구',
    '15': '양천구',
    '16': '강서구',
    '17': '구로구',
    '18': '금천구',
    '19': '영등포구',
    '20': '동작구',
    '21': '관악구',
    '22': '서초구',
    '23': '강남구',
    '24': '송파구',
    '25': '강동구'})

In [56]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# tail(10)

bus_station.tail(10)

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
1048497,20240126,종로05,종로05(서대문역~배화여중고),01849,강북삼성병원(00027),6,175,20240129,종로구
1048498,20240126,종로03,종로03(낙산공원~종로5가),01825,창신초교(00021),63,86,20240129,종로구
1048499,20240126,종로05,종로05(서대문역~배화여중고),01796,배화여중고.매동초교(00017),22,91,20240129,종로구
1048500,20240126,종로05,종로05(서대문역~배화여중고),01820,교남동주민센터(00022),7,25,20240129,종로구
1048501,20240126,종로05,종로05(서대문역~배화여중고),01554,독립문역3번출구(00006),343,191,20240129,종로구
1048502,20240126,종로05,종로05(서대문역~배화여중고),01837,스위스대사관(00025),1,19,20240129,종로구
1048503,20240126,종로05,종로05(서대문역~배화여중고),01831,월암공원(00024),25,21,20240129,종로구
1048504,20240126,종로05,종로05(서대문역~배화여중고),01514,적십자병원후문앞(00002),9,6,20240129,종로구
1048505,20240126,성북07,성북07(정릉4동종점~길음역),08454,정릉4동종점(00014),0,181,20240129,성북구
1048506,20240126,종로05,종로05(서대문역~배화여중고),01587,신학대학교총회본부(00011),13,68,20240129,종로구

#### [실습문제4] 결측치 처리하기

In [57]:
# (가상), (기점가상) 정류장은 ARS번호가 '~'로 나옵니다.
# (가상) 정류장 : 버스정보시스템 상에서 위치 정보를 표시하기 위해 임의로 가상의 정류장을 설정, 실재하지 않음
# '버스정류장ARS번호'가 '~'인 곳을 확인해주세요.

bus_station.loc[bus_station['버스정류장ARS번호'] == '~']

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
699,20240101,441,441번(월암공영차고지~신사사거리),~,월암차고지(종점가상)(00126),0,1,20240104,NaN
1261,20240101,7021,7021번(은평공영차고지~롯데백화점),~,은평공영차고지(가상)(00076),0,10,20240104,NaN
1337,20240101,7017,7017번(은평공영차고지~롯데백화점),~,은평공영차고지(가상)(00090),0,10,20240104,NaN
1427,20240101,7016,7016번(은평차고지~상명대),~,은평공영차고지(가상)(00107),0,16,20240104,NaN
3332,20240101,750B,750B번(은평차고지~서울대),~,은평공영차고지(가상)(00076),0,15,20240104,NaN
...,...,...,...,...,...,...,...,...,...
1040877,20240126,271,271번(용마문화복지센터~월드컵파크7단지),~,경성여객(종점가상)(00125),0,35,20240129,NaN
1040885,20240126,271,271번(용마문화복지센터~월드컵파크7단지),~,경성여객(기점가상)(00001),61,12,20240129,NaN
1041768,20240126,N64,N64번(염곡공영차고지~강서공영차고지),~,대흥교통(기점가상)(00001),0,1,20240129,NaN
1042686,20240126,N72,N72중랑 (중랑공영차고지~은평공영차고지),~,중랑공영차고지(기점가상)(00001),3,0,20240129,NaN
1043184,20240126,01A,01A번(예장주차장~예장주차장),~,남산예장버스환승주차장(종점가상)(00025),2,165,20240129,NaN

In [58]:
# NaN 값을 제거 해주세요.
# dropna()

bus_station.dropna(inplace = True)
# 결측치(NaN) 포함한 행 제거 -> how의 default는 any

bus_station.reset_index(drop = True, inplace=True)
bus_station

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
0,20240101,101,101번(화계사~동대문),06178,대광고등학교앞(00055),39,76,20240104,동대문구
1,20240101,9408,9408번(구미동차고지~고속터미널),22337,헌인마을.서울농업기술센터(00042),1,0,20240104,서초구
2,20240101,9408,9408번(구미동차고지~고속터미널),22336,헌인마을.서울농업기술센터(00078),2,0,20240104,서초구
3,20240101,9408,9408번(구미동차고지~고속터미널),22334,헌인릉.강남서초과학화예비군훈련장(00043),0,2,20240104,서초구
4,20240101,9408,9408번(구미동차고지~고속터미널),22333,헌인릉.강남서초과학화예비군훈련장(00076),2,1,20240104,서초구
...,...,...,...,...,...,...,...,...,...
960806,20240126,종로05,종로05(서대문역~배화여중고),01837,스위스대사관(00025),1,19,20240129,종로구
960807,20240126,종로05,종로05(서대문역~배화여중고),01831,월암공원(00024),25,21,20240129,종로구
960808,20240126,종로05,종로05(서대문역~배화여중고),01514,적십자병원후문앞(00002),9,6,20240129,종로구
960809,20240126,성북07,성북07(정릉4동종점~길음역),08454,정릉4동종점(00014),0,181,20240129,성북구
960810,20240126,종로05,종로05(서대문역~배화여중고),01587,신학대학교총회본부(00011),13,68,20240129,종로구

In [59]:
# 컬럼별 NaN 값이 있는지 확인, info()

bus_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960811 entries, 0 to 960810
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용일자        960811 non-null  int64
 1   노선번호        960811 non-null  object
 2   노선명         960811 non-null  object
 3   버스정류장ARS번호  960811 non-null  object
 4   역명          960811 non-null  object
 5   승차총승객수      960811 non-null  int64
 6   하차총승객수      960811 non-null  int64
 7   등록일자        960811 non-null  int64
 8   자치구         960811 non-null  object
dtypes: int64(4), object(5)
memory usage: 66.0+ MB

In [60]:
# "버스정류장ARS번호" dtype을 정수형(int)으로 변경

bus_station['버스정류장ARS번호'] = bus_station['버스정류장ARS번호'].astype(int)
bus_station.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960811 entries, 0 to 960810
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   사용일자        960811 non-null  int64
 1   노선번호        960811 non-null  object
 2   노선명         960811 non-null  object
 3   버스정류장ARS번호  960811 non-null  int32
 4   역명          960811 non-null  object
 5   승차총승객수      960811 non-null  int64
 6   하차총승객수      960811 non-null  int64
 7   등록일자        960811 non-null  int64
 8   자치구         960811 non-null  object
dtypes: int32(1), int64(4), object(4)
memory usage: 62.3+ MB

#### [실습문제5] 구별로 버스정류장의 개수 확인하기 (서울시)

In [61]:
# 자치구별 버스정류장 고유값들의 갯수를 출력하여 'bus_station_count' 변수로 저장
# nunique(), groupby()

bus_station.groupby('자치구', as_index=False).nunique()

     자치구  사용일자  노선번호  노선명  버스정류장ARS번호    역명  승차총승객수  하차총승객수  등록일자
0    강남구    26    98  104         501  2074    1026     922    26
1    강동구    26    22   24         367   959     777     783    26
2    강북구    26    71   74         410  1085    1093     966    26
3    강서구    26    51   54         567  1640     836     769    26
4    관악구    26    83   88         468  1540    1365    1389    26
5    광진구    26    43   46         280   850     730     690    26
6    구로구    26    80   83         486  1305    1072     940    26
7    금천구    26    56   58         347   882     884     801    26
8    노원구    26    58   61         496  1462     958     893    26
9    도봉구    26    55   57         368   970     878     814    26
10  동대문구    26    74   79         308  1310     967     875    26
11   동작구    26    97  103         441  1385     998     918    26
12   마포구    26   103  111         565  1688     982     916    26
13  서대문구    26   109  119         460  1669     879     867    26
14   서초구    26    99  107         601  1887    1110     974    26
15   성동구    26    58   61         433   990     689     659    26
16   성북구    26    98  103         599  1634     983     864    26
17   송파구    26    60   65         470  1648     878     886    26
18   양천구    26    57   60         323  1235     785     740    26
19  영등포구    26   102  107         467  1545     980     977    26
20   용산구    26    69   76         326  1105     885     812    26
21   은평구    26    74   80         497  1609     888     863    26
22   종로구    26   105  115         357  1257     834     724    26
23    중구    26   102  112         174   968     866     825    26
24   중랑구    26    51   56         428  1458     754     677    26

In [62]:
# 중랑구에 428개의 버스정류장이 있다는데, 실제 ARS번호를 확인해봅시다.
# 자치구별 버스정류장 고유값들을 출력하여 'bus_station_unique' 변수로 저장
# 중랑구 버스정류장ARS번호 전체 출력

bus_station_unique = bus_station['버스정류장ARS번호'].loc[bus_station['자치구'] == '중랑구']
print(bus_station_unique)

85        7142
86        7136
87        7138
88        7465
89        7440
          ...
954964    7009
954965    7418
954966    7010
954968    7007
954969    7554
Name: 버스정류장ARS번호, Length: 41629, dtype: int32

In [63]:
# 서울 지역 외 '버스정류장ARS번호' 샘플 확인 
# 중랑구의 버스정류장ARS번호 7674인 정류장 확인해보기
# 07674: 경기도까지 가는 버스

bus_station[bus_station['버스정류장ARS번호'] == 7674]

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자,자치구
38917,20240102,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),1,1,20240105,중랑구
76315,20240103,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,1,20240106,중랑구
188418,20240106,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),3,0,20240109,중랑구
262090,20240108,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,2,20240111,중랑구
299458,20240109,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),1,4,20240112,중랑구
411681,20240112,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),1,0,20240115,중랑구
559959,20240116,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,1,20240119,중랑구
597341,20240117,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),1,0,20240120,중랑구
634742,20240118,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,1,20240121,중랑구
745984,20240121,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),2,0,20240124,중랑구
782967,20240122,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,1,20240125,중랑구
820376,20240123,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,2,20240126,중랑구
895322,20240125,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,1,20240128,중랑구
932815,20240126,9409,9409번(구미동차고지~신사역),7674,이우중고(00005),0,2,20240129,중랑구

In [64]:
# 서울의 버스 정류장 데이터만 포함하고 있는 excel 파일 열기 ('1.1 bus_station_202401.xlsx')
# https://data.seoul.go.kr/dataList/OA-15067/S/1/datasetView.do (출처:서울열린데이터광장)
# 'only_seoul' 변수로 저장

only_seoul = pd.read_excel('1.1 bus_station_202401.xlsx')

In [65]:
# 데이터 구조 확인, info()

only_seoul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11263 entries, 0 to 11262
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ARS_ID  11263 non-null  int64
 1   정류소명    11263 non-null  object
dtypes: int64(1), object(1)
memory usage: 176.1+ KB

In [66]:
# 데이터 확인

only_seoul.head(5)

   ARS_ID           정류소명
0    1001        종로2가사거리
1    1002    창경궁.서울대학교병원
2    1003      명륜3가.성대입구
3    1004       종로2가.삼일교
4    1005  혜화동로터리.여운형활동터

In [67]:
only_seoul.tail(5)

       ARS_ID         정류소명
11258   25995        우성아파트
11259   25996        우성아파트
11260   25997         조일약국
11261   25998         성내시장
11262   25999  천호우체국.로데오거리

In [68]:
# 서울 지역 외 '버스정류장ARS번호' 샘플 확인

bus_station['버스정류장ARS번호'].loc[~bus_station['버스정류장ARS번호'].isin(only_seoul['ARS_ID'])]

143       20266
144       20267
184        7616
189        7817
190        7830
          ...
951996    19705
951997    19706
952890     5170
953564    14328
959629     4835
Name: 버스정류장ARS번호, Length: 3202, dtype: int32

In [69]:
# 'ARS-ID'열 이름을 '버스정류장ARS번호'로 바꾸기

only_seoul.rename(columns = {'ARS_ID': '버스정류장ARS번호'}, inplace=True)
only_seoul

       버스정류장ARS번호           정류소명
0            1001        종로2가사거리
1            1002    창경궁.서울대학교병원
2            1003      명륜3가.성대입구
3            1004       종로2가.삼일교
4            1005  혜화동로터리.여운형활동터
...           ...            ...
11258       25995          우성아파트
11259       25996          우성아파트
11260       25997           조일약국
11261       25998           성내시장
11262       25999    천호우체국.로데오거리

[11263 rows x 2 columns]

In [70]:
# 'only_seoul'과 'bus_station' 데이터 병합

seoul_bus_station = pd.merge(only_seoul, bus_station)
seoul_bus_station

,버스정류장ARS번호,정류소명,사용일자,노선번호,노선명,역명,승차총승객수,하차총승객수,등록일자,자치구
0,1001,종로2가사거리,20240101,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),3,5,20240104,종로구
1,1001,종로2가사거리,20240101,N37,N37번(진관공영차고지~송파공영차고지),종로2가사거리(00089),21,11,20240104,종로구
2,1001,종로2가사거리,20240101,470,470번(상암차고지~안골마을),종로2가사거리(00066),98,117,20240104,종로구
3,1001,종로2가사거리,20240101,741,741번(진관차고지~헌인릉입구),종로2가사거리(00075),92,116,20240104,종로구
4,1001,종로2가사거리,20240102,N37,N37번(송파공영차고지~진관공영차고지),종로2가사거리(00032),2,11,20240105,종로구
...,...,...,...,...,...,...,...,...,...,...
957604,25990,암사삼성.현대아파트,20240122,강동02,강동02(가래여울~암사동서원마을),암사삼성.현대아파트(00044),80,27,20240125,강동구
957605,25990,암사삼성.현대아파트,20240123,강동02,강동02(가래여울~암사동서원마을),암사삼성.현대아파트(00044),90,29,20240126,강동구
957606,25990,암사삼성.현대아파트,20240124,강동02,강동02(가래여울~암사동서원마을),암사삼성.현대아파트(00044),90,23,20240127,강동구
957607,25990,암사삼성.현대아파트,20240125,강동02,강동02(가래여울~암사동서원마을),암사삼성.현대아파트(00044),88,30,20240128,강동구
957608,25990,암사삼성.현대아파트,20240126,강동02,강동02(가래여울~암사동서원마을),암사삼성.현대아파트(00044),64,31,20240129,강동구

In [71]:
# 구 별로 버스 정류장의 개수 확인하기, 'seoul_bus_station_ARS' 변수로 저장

seoul_bus_station_ARS = seoul_bus_station.groupby('자치구', as_index = False)['버스정류장ARS번호'].nunique()
seoul_bus_station_ARS = pd.DataFrame(seoul_bus_station_ARS)
seoul_bus_station_ARS

     자치구  버스정류장ARS번호
0    강남구         501
1    강동구         367
2    강북구         410
3    강서구         567
4    관악구         466
5    광진구         274
6    구로구         486
7    금천구         346
8    노원구         495
9    도봉구         366
10  동대문구         307
11   동작구         435
12   마포구         558
13  서대문구         456
14   서초구         601
15   성동구         432
16   성북구         595
17   송파구         470
18   양천구         319
19  영등포구         465
20   용산구         326
21   은평구         497
22   종로구         356
23    중구         173
24   중랑구         384

In [72]:
# 서울시에 있는 버스정류장 개수 구하기

print('서울시에 있는 버스 정류장 개수: ', seoul_bus_station_ARS['버스정류장ARS번호'].sum())

서울시에 있는 버스 정류장 개수:  10652

#### [실습문제6] 구 별로 버스 노선의 개수 확인하기

In [73]:
# 자치구별 노선번호의 개수 구하기, 'seoul_bus_staion_line' 변수로 저장

seoul_bus_station_line = seoul_bus_station.groupby('자치구', as_index = False)['노선번호'].nunique()
seoul_bus_station_line = pd.DataFrame(seoul_bus_station_line)

#### [실습문제7] 각 구별로 승차 총 승객수, 하차 총 승객수 구하기

In [74]:
# 자치구별 "승차총승객수","하차총승객수"의 합 구하기, 'seoul_bus_station_sum' 변수로 저장
# groupby()

seoul_bus_station_sum = seoul_bus_station.groupby('자치구', as_index = False)['승차총승객수'].sum()
seoul_bus_station_sum = pd.DataFrame(seoul_bus_station_sum)

temp = seoul_bus_station.groupby('자치구', as_index = False)['하차총승객수'].sum()
temp = pd.DataFrame(temp)
seoul_bus_station_sum = pd.merge(seoul_bus_station_sum, temp)

seoul_bus_station_sum

     자치구   승차총승객수   하차총승객수
0    강남구  6960336  6597087
1    강동구  2515582  2460905
2    강북구  3998077  3858057
3    강서구  3981173  3963283
4    관악구  5862490  5996915
5    광진구  2365355  2382437
6    구로구  4204229  4023135
7    금천구  3133461  3014364
8    노원구  3553485  3497450
9    도봉구  2771076  2695540
10  동대문구  4530373  4426822
11   동작구  4125466  3979142
12   마포구  4517711  4395035
13  서대문구  5069197  4978622
14   서초구  5919552  5755058
15   성동구  2371151  2331836
16   성북구  5051648  5060251
17   송파구  4746623  4744766
18   양천구  3478159  3344254
19  영등포구  4987187  5041026
20   용산구  3495720  3422432
21   은평구  4296944  4223666
22   종로구  4500874  4348356
23    중구  3138112  3050645
24   중랑구  3200879  3155827

#### [실습문제8] 각 구별 승차 평균 승객수, 하차 평균 승객수 구하기

In [75]:
# 자치구별 "승차총승객수","하차총승객수"의 평균 구하기, 'seoul_bus_station_mean' 변수로 저장
# '승차총승객수' -> '승차평균승객수', '하차총승객수' -> '하차평균승객수'로 열이름 변경

seoul_bus_station_mean = seoul_bus_station.groupby('자치구', as_index=False)['승차총승객수'].mean()
temp = seoul_bus_station.groupby('자치구', as_index=False)['하차총승객수'].mean()
seoul_bus_station_mean = pd.merge(seoul_bus_station_mean, temp)
seoul_bus_station_mean.rename(columns = {'승차총승객수': '승차평균승객수', '하차총승객수':'하차평균승객수'}, inplace = True)
seoul_bus_station_mean

     자치구     승차평균승객수     하차평균승객수
0    강남구  123.257234  116.824633
1    강동구   91.578944   89.588445
2    강북구  126.465395  122.036345
3    강서구   86.932767   86.542122
4    관악구  134.946712  138.040996
5    광진구  107.491706  108.267985
6    구로구  114.700415  109.759781
7    금천구  123.088384  118.410025
8    노원구   83.356439   82.041989
9    도봉구  101.649829   98.878985
10  동대문구  127.573018  124.657074
11   동작구  108.467845  104.620655
12   마포구   95.578543   92.983159
13  서대문구  104.720330  102.849216
14   서초구  113.621221  110.463886
15   성동구   90.495039   88.994581
16   성북구  112.288788  112.480017
17   송파구   99.003483   98.964751
18   양천구   96.452095   92.738804
19  영등포구  116.711217  117.971168
20   용산구  119.962938  117.447907
21   은평구   93.725603   92.127252
22   종로구  123.298104  119.119987
23    중구  113.699710  110.530616
24   중랑구   79.082866   77.969784

#### [실습문제9] 데이터 프레임 합치기

In [76]:
# 네 개 파일을 합쳐주세요.

# seoul_bus_station_ARS
# seoul_bus_station_line
# seoul_bus_station_sum
# seoul_bus_station_mean
display(seoul_bus_station_ARS.head())
display(seoul_bus_station_line.head())
display(seoul_bus_station_sum.head())
display(seoul_bus_station_mean.head())

   자치구  버스정류장ARS번호
0  강남구         501
1  강동구         367
2  강북구         410
3  강서구         567
4  관악구         466

   자치구  노선번호
0  강남구    98
1  강동구    22
2  강북구    71
3  강서구    51
4  관악구    81

   자치구   승차총승객수   하차총승객수
0  강남구  6960336  6597087
1  강동구  2515582  2460905
2  강북구  3998077  3858057
3  강서구  3981173  3963283
4  관악구  5862490  5996915

   자치구     승차평균승객수     하차평균승객수
0  강남구  123.257234  116.824633
1  강동구   91.578944   89.588445
2  강북구  126.465395  122.036345
3  강서구   86.932767   86.542122
4  관악구  134.946712  138.040996

In [77]:
temp = pd.merge(seoul_bus_station_ARS, seoul_bus_station_line)
temp = pd.merge(temp, seoul_bus_station_sum)
temp = pd.merge(temp, seoul_bus_station_mean)

In [78]:
# '버스정류장ARS번호' -> '정류장수', '노선번호' -> '노선수'로 열이름 변경

temp.rename(columns={'버스정류장ARS번호': '정류장수', '노선번호': '노선수'}, inplace = True)

In [79]:
# 데이터를 합친 결과를 확인합니다.

temp.head()

   자치구  정류장수  노선수   승차총승객수   하차총승객수     승차평균승객수     하차평균승객수
0  강남구   501   98  6960336  6597087  123.257234  116.824633
1  강동구   367   22  2515582  2460905   91.578944   89.588445
2  강북구   410   71  3998077  3858057  126.465395  122.036345
3  강서구   567   51  3981173  3963283   86.932767   86.542122
4  관악구   466   81  5862490  5996915  134.946712  138.040996

In [80]:
# 해당 데이터프레임을 csv 파일로 저장하세요.

temp.to_csv('df_seoul_bus_station.csv', index=False)

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [81]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun')
sns.set(font="Malgun Gothic", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [실습문제10] 데이터 분포 알아보기 -> 스킵 O
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [40]:
# 자치구별 정류장 수를 볼 수 있는 그래프를 출력해주세요.

In [41]:
# 위 차트를 통해 알게된 사실을 개인별로 정리해봅시다.
# 1. 
# 2. 
# 3.

---